<footer>
    <p id="copyright">Copyright &copy; Roni Kazmirci </p>
    <div class="socials">
        <a target="_blank" href="https://github.com/Roni003"><img src="/images/github.png" alt="GitHub"></a>
    </div>
    <div class="socials">
        <a target="_blank" href="https://www.linkedin.com/in/roni-kazmirci-erg%C3%BCn-028581254"><img src="/images/linkedin.png" alt="LinkedIn"></a>
    </div>
</footer>