<% if (user) { %>
  <% username = user.username; %>
<% } else { %>
  <% username = ''; %>
<% } %>

<nav id="main-nav">
    <div class="site-title">
        <a href="/"><h1>Welcome <%= username %></h1></a>
        <p>Roni Kazmirci</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <% if(locals.admin) { %>
            <li><a href="/users/get">Users</a></li>
        <% } %>
        <% if (user) { %>
          <li><a href="/logout">Log out</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
         <% } %>
      </ul>
</nav>