<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h2>Login</h2>
        <form class="create-user" action="/user/register/create" method="POST">
            <p id="error-text"></p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <p><a id="register-anchor" href="/register">Don't have an account? Register</a></p>
            <div id="submitbox">
                <button id="login-submit">Login</button>
            </div>
        </form>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
<script defer src="/scripts/login.js"></script>
</html>