<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h2>Register</h2>
        <form class="create-user" action="/user/register/create" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <p><a id="login-anchor" href="/login">Already have an account? Login</a></p>
            <div id="submitbox">
                <button id="register-submit" >Register</button>
            </div>
        </form>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
<script>
    const registerSubmit = document.getElementById('register-submit');

    registerSubmit.addEventListener('click', async (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        if(!username || !password) return alert('Please enter a username and password');
        const body = {
            username,
            password
        };

        const res = await fetch('/register', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(body)})

        let data = await res.json();
        if (data.success) {
            window.location.href = data.redirect;
        } else {
            alert(data.message)
        }
    }); 
</script>
</html>